.main-viz
  display: flex
  flex: 1
  justify-content: center
  align-items: center

  .container
    display: flex;
    flex-direction: column
    width: 100%
    max-width: 50em

  .header, .footer
    font-size: 1.75em
    font-weight: 300

    .row
      &.large
        margin-bottom: .25em
        font-size: 1.4em

      .whom
        font-weight: 400
        font-style: italic
        text-decoration: underline

      .savings
        font-style: italic

  .share-bar
    position: relative
    display: flex
    justify-content: center
    align-items: center
    padding: .5em
    margin-top: 1em
    font-size: 2em
    color: #147fd7
    text-decoration: none
    border: 3px solid #147fd7
    border-radius: 2px
    cursor: pointer

    & > *:not(:last-child)
      margin-right: 1em

  .bernrate
    position: absolute
    left: 50%
    top: 100%
    margin-top: 1em
    transform: translateX(-50%)
    border: none
    outline: none