.main-viz
  margin-bottom: 4rem

  .container
    display: flex;

.line-items
  list-style: none
  display: flex
  flex-direction: column
  padding: 0
  margin: 0

  .inputs
    list-style: none
    display: flex
    padding: 0
    margin: 0