.main-viz
  display: flex
  flex: 1
  justify-content: center
  align-items: center

  .container
    display: flex;
    flex-direction: column
    width: 100%

  .header, .footer
    font-size: 1.75em
    font-weight: 300

    .row
      &.large
        margin-bottom: .25em
        font-size: 1.4em

      .whom
        font-weight: 400
        font-style: italic
        text-decoration: underline

      .savings
        font-style: italic

  .share-bar
    display: flex
    justify-content: center
    align-items: center
    padding: 1em
    margin-top: 2em
    color: white
    background-color: #147fd7