.main-viz
  display: flex
  flex: 1
  justify-content: center
  align-items: center

  @media (max-width: 1024px)
    flex: 0 1 auto
    font-size: .9em
    padding-bottom: 3rem
    border-bottom: 1px solid #C1C3C9

  .container
    display: flex;
    flex-direction: column
    width: 100%

  .header, .footer
    font-size: 1.75em
    font-weight: 300

    .row
      &.large
        margin-bottom: .25em
        font-size: 1.4em

      .whom
        font-weight: 400
        font-style: italic
        text-decoration: underline

      .savings
        font-style: italic
