.cases
  margin-bottom: 2rem
  overflow: hidden

  .header
    display: block
    font-family: 'Fair Play Display', serif
    font-size: 3rem
    margin-top: 1rem
    margin-bottom: 2rem
    font-style: italic
    font-weight: bold
    color: #147fd7