.inputs
  z-index: 1
  position: relative
  display: flex
  flex: 1
  align-self: stretch
  margin-top: 1.5em

  @media (max-width: 100rem)
    font-size: 90%
    padding-top: 3rem
    margin-top: 0

  & > *
    position: absolute
    flex: 1
    left: 0
    top: 0
    width: 100%
    padding: 2em 1.5em 3em

    @media (max-width: 100rem)
      position: static
      left: auto
      top: auto

  .header
    margin-bottom: .5em
    font-size: 1.75em
    color: #147fd7

    @media (max-width: 100rem)
      margin-bottom: 2em

  .list
    display: flex
    flex-direction: column
    padding-right: 1em

  .item
    &:not(.flush)
      margin-bottom: 1em

      &:not(:last-child)
        @media (max-width: 100rem)
          margin-bottom: 3em
