.inputs
  z-index: 1
  position: relative
  display: flex
  flex: 1
  align-self: stretch
  margin-top: 1.5em

  @media (max-width: 100rem)
    font-size: .9em
    padding-top: 3rem
    margin-top: 0

  & > *
    position: absolute
    flex: 1
    left: 0
    top: 0
    width: 100%
    padding: 2em 1.5em 3em

    @media (max-width: 100rem)
      position: static
      left: auto
      top: auto

  .header
    margin-bottom: 2em
    font-size: 1.75em
    color: #147fd7

  .list
    display: flex
    flex-direction: column
    padding-right: 1em

    @media (max-width: 100rem)
      padding-right: 0

  .item
    &:not(:last-child)
      margin-bottom: 4em

      &.flush
        margin-bottom: calc(4em - 14px)


