.inputs
  z-index: 1
  position: relative
  display: flex
  flex: 1
  align-self: stretch
  margin-top: 1.5em

  & > *
    position: absolute
    flex: 1
    left: 0
    top: 0
    width: 100%
    padding: 1.5em 1.5em 3em

  .header
    margin-bottom: .5em
    font-size: 1.75em
    color: #147fd7

  .list
    display: flex
    flex-direction: column
    padding-right: 5em

  .item
    &:not(.flush)
      margin-bottom: 1em
