.container
  flex: 1

.container, .categories
  display: flex;
  flex-direction: column
  justify-content: center
  align-items: flex-start

.categories
  flex: 0
  list-style: none
  width: 100%
  padding: 0
  margin: 0
  border: .25rem solid $white
  border-radius:0px

  &:not(:last-child)
    margin-bottom: 1.5em