@import './base/_colors';

:global
  html, *
    box-sizing: border-box

  html
    font-family: 'Lato', sans-serif
    color: $black
    background-color: $white
    overflow: auto

  p
    line-height: 2

  .pane
    overflow: auto
    margin-bottom: 2em
    border-radius: 4px

    &:not(.flush) > *
      padding-left: 2rem
      padding-right: 2rem

      &:first-child
        padding-top: 2rem

      &:last-child
        padding-bottom: 2rem

  .hide
    display: none