@import './base/_colors';

:global
  html, *
    box-sizing: border-box

  html
    font-family: 'Lato', sans-serif
    color: $black
    background-color: $white
    overflow: auto

  p
    line-height: 2

  .pane
    padding: 2rem
    margin-bottom: 2em
    border-radius: 4px

  .hide
    display: none