@import './base/_colors';

:global
  *
    box-sizing: border-box

  html
    font-family: 'Lato', sans-serif
    color: $black
    background-color: $white
    overflow: auto

  body
    margin: 0

  p
    line-height: 2

  .pane
    overflow: auto
    border-radius: 4px

    &:not(:last-child)
      margin-bottom: 2em

    &:not(.flush) > *
      padding-left: 2rem
      padding-right: 2rem

      &:first-child
        padding-top: 2rem

      &:last-child
        padding-bottom: 2rem

  .hide
    display: none

  .rd3-chart-title
    margin-top: 0
    margin-bottom: 1em
    font-family: 'Fair Play Display', serif
    font-weight: bold
    font-style: italic
    font-size: 2rem
    text-align: center
    color: #147fd7