.instructions
  position: relative
  background-color: #efefef

  .container
    display: flex;
    flex-direction: column
    justify-content: center
    align-items: center
    max-width: 60em
    margin: 0 auto

  .icons
    list-style: none
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding: 0

  .item
    position: relative
    display: flex
    flex: 2
    flex-direction: column
    justify-content: flex-end
    align-items: center

    &.arrow
      flex: 1
      align-self: center

      .image
        width: 100%

    .icon
      width: 75%
      margin-bottom: 1em

    .text
      font-size: 1.25em
      white-space: nowrap

  .close
    position: absolute
    right: .5em
    top: .5em
    width: 2em
    cursor: pointer
