.item
  display: flex
  width: 100%
  font-size: 3em

  &:not(:last-child)
    border-bottom: .25rem solid currentColor

  .title, .savings
    display: flex
    justify-content: center
    align-items: center
    padding: .5em

  .title
    flex: 9
    border-right: .25rem solid currentColor

  .savings
    flex: 4