.savings
  display: flex
  justify-content: center
  align-items: center
  font-size: 2em
  color: #147fd7

  .container
    padding: .5em
    border: 3px solid currentColor
    border-radius: 4px
    transform: translateX(14px)

  .title
    margin-right: 1em