.header
  display: flex
  margin-bottom: 2rem
  background-color: #147fd7

  .text
    align-self: center
    width 25em
    margin-left: 2em
    margin-top: 2em
    margin-bottom: 2em

  .vector
    align-self: flex-end
    width: 30em
    margin-left: auto
