.footer
  display: flex
  flex-direction: column
  justify-content: left
  align-items: left
  padding: 4rem
  margin-top: 2rem
  color: #fafafa
  background-color: #147fd7

.link
  color: #fafafa
  margin-top: .5em

  &:last-of-type
    margin-bottom: .5em
