.footer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: .5rem
  color: #fafafa
  background-color: #147fd7

.link
  color: #fafafa
  margin-top: .5em

  &:last-of-type
    margin-bottom: .5em
