.footer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 4rem
  margin-top: 2rem
  color: #fafafa
  background-color: #147fd7

  .social-links
    display: flex
    align-items: center
    margin-bottom: 2em

    & > *:not(:last-child)
      margin-right: 1em

  .link
    color: #fafafa
    margin-top: .5em

    &:last-of-type
      margin-bottom: .5em
