.title
  margin-bottom: 1em
  font-size: 3em
  font-weight: bold

.inputs
  list-style: none
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 0

  .item
    font-size: 1.5em;

    &:not(:last-child)
      margin-right: 2em;

    .label
      margin-right: 1em

    .input
      padding: .25em;
      font-size: 1em
      border: 1px solid currentColor
      border-radius: 4px