.base
  border-width: 5px
  border-style: solid

  .text
    padding-bottom: 1rem
    background-color: #fafafa

.title
  margin-bottom: .5em
  font-size: 3em
  font-weight: bold
  color: #147fd7
  font-family: 'Play Fair Display', serif;
  font-style: italic

.blurb
  max-width: 40em
  margin-bottom: 2em
  font-size: 1.2em

.inputs
  list-style: none
  display: flex
  justify-content: flex-start
  align-items: flex-end
  padding-top: 1rem

  .item
    font-size: 1.5em;

    &:not(:last-child)
      margin-right: 2em;

    .label
      margin-right: 1em

    .input
      padding: .25em;
      font-size: 1em
      border: 1px solid currentColor
      border-radius: 4px