.item
  display: flex
  width: 100%
  font-size: 2.75em

  &:not(:last-child)
    border-bottom: .5rem solid #fafafa

  .title, .savings
    display: flex
    justify-content: center
    align-items: center
    padding: .5em

  .title
    flex: 9
    border-right: .5rem solid #fafafa

  .savings
    flex: 5
    font-size: 80%