.share-creator
  position: relative
  padding: 0 1em .5em
  margin-top: 2em
  color: #147fd7
  border: 3px solid #147fd7
  border-radius: 2px
  transition: color .05s ease-in-out, background-color .05s ease-in-out

  &:not(.prompting):not(.complete)
    cursor: default

    &:hover
      color: white
      background-color: #147fd7

  &.padded
    padding: 1em

  &.complete
    padding-bottom: 0

  .content
    &, .container
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

      &.horizontal
        flex-direction: row

    .container:not(.horizontal) > *
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 1em


  .link
    color: #147fd7
    text-decoration: none

  .icon
    width: 1.5em

    &:last-of-class
      margin: 0 .25em

.bernrate
  position: absolute
  left: 50%
  top: 100%
  margin-top: 1em
  transform: translateX(-50%)
  border: none
  outline: none
