.share-creator
  padding: 0 1em .5em
  margin-top: 2em
  color: #147fd7
  border: 3px solid #147fd7
  border-radius: 2px
  cursor: pointer

  &.padded
    padding: 1em

  &.complete
    padding-bottom: 0

  .content
    position: relative

    &, .container
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

    .container > *
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 1em

  .link
    color: #147fd7
    text-decoration: none

.bernrate
  position: absolute
  left: 50%
  top: 100%
  margin-top: 1em
  transform: translateX(-50%)
  border: none
  outline: none
